.buzzsprout-player_buzzsprout-player__embed__mRJoW {
  grid-column: span 12
}

@media(min-aspect-ratio: 1/1) {
  .buzzsprout-player_buzzsprout-player__embed__mRJoW {
      grid-column:3/span 8
  }
}

.buzzsprout-player_buzzsprout-player__channels__sHh4u {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: .25rem;
  grid-column: 2/span 10;
  margin-top: clamp(1.5625rem,2.35vw + 1.0123239437rem,3.125rem)
}

@media(min-aspect-ratio: 1/1) {
  .buzzsprout-player_buzzsprout-player__channels__sHh4u {
      grid-column:3/span 8
  }
}

.buzzsprout-player_buzzsprout-player__channel-heading__h82RN {
  margin-bottom: 1.25rem;
  text-transform: uppercase
}

.buzzsprout-player_buzzsprout-player__channel-items__AULso {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  gap: clamp(.9375rem,.47vw + .8274647887rem,1.25rem)
}

.newsletter-form_field-container__xRqTM {
  position: relative;
  display: flex;
  flex-direction: column
}

.newsletter-form_field-container__input-wrapper__oN7b5 {
  position: relative
}

.newsletter-form_field-container__input__4cKpi {
  width: 100%;
  border: none;
  border-radius: 0
}

.newsletter-form_field-container__state-messages__Ny_Sl {
  font-weight: 600
}

.newsletter-form_field-container__input__4cKpi:focus {
  outline: .125rem solid #2360c5;
  outline-offset: .25rem
}

.newsletter-form_field-container__button__D__QO {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%)
}

.newsletter-form_field-container__button__D__QO:focus {
  outline: .125rem solid #2360c5;
  outline-offset: .25rem
}

.newsletter-form_field-container--variant-default__jvxua {
  padding: .625rem;
  background-color: #000;
  color: #fff;
  row-gap: .625rem
}

.newsletter-form_field-container--variant-default__jvxua .newsletter-form_field-container__label__pKCya {
  gap: .625rem
}

.newsletter-form_field-container--variant-default__jvxua .newsletter-form_field-container__input__4cKpi {
  height: 2.5rem;
  border-bottom: .0625rem solid #fff;
  background-color: #000;
  color: #fff
}

.newsletter-form_field-container--variant-default__jvxua .newsletter-form_field-container__button__D__QO {
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer
}

.newsletter-form_field-container--variant-default__jvxua .newsletter-form_field-container__state-messages__Ny_Sl {
  color: #999
}

.newsletter-form_field-container--variant-social__1OS1B {
  row-gap: 1.25rem
}

.newsletter-form_field-container--variant-social__1OS1B .newsletter-form_field-container__label__pKCya {
  gap: .875rem
}

.newsletter-form_field-container--variant-social__1OS1B .newsletter-form_field-container__input__4cKpi {
  height: 5.625rem;
  padding-right: calc(2.5rem + .25rem);
  border-bottom: .0625rem solid #000;
  background-color: #f3f5f9;
  line-height: 3.125rem;
  font-size: clamp(1.875rem,1.88vw + 1.4348591549rem,3.125rem)
}

.newsletter-form_field-container--variant-social__1OS1B .newsletter-form_field-container__button__D__QO {
  background-color: #f3f5f9;
  color: #000
}

.newsletter-form_field-container--variant-social__1OS1B .newsletter-form_field-container__button__D__QO:focus {
  border: none;
  outline: none
}

.newsletter-form_field-container--variant-default__jvxua.newsletter-form_field-container--error__QBtAY .newsletter-form_field-container__input__4cKpi,.newsletter-form_field-container--variant-social__1OS1B.newsletter-form_field-container--error__QBtAY .newsletter-form_field-container__input__4cKpi {
  border-color: #ff0026
}

.newsletter-form_field-container--variant-default__jvxua.newsletter-form_field-container--error__QBtAY .newsletter-form_field-container__state-messages__Ny_Sl,.newsletter-form_field-container--variant-social__1OS1B.newsletter-form_field-container--error__QBtAY .newsletter-form_field-container__state-messages__Ny_Sl {
  color: #ff0026;
  font-size: 1.25rem;
  font-weight: 700
}

.newsletter-form_field-container--variant-default__jvxua.newsletter-form_field-container--success__3PNWL .newsletter-form_field-container__input__4cKpi {
  border-color: #41ff31
}

.newsletter-form_field-container--variant-default__jvxua.newsletter-form_field-container--success__3PNWL .newsletter-form_field-container__button__D__QO {
  color: #41ff31
}

.newsletter-form_field-container--variant-social__1OS1B.newsletter-form_field-container--success__3PNWL .newsletter-form_field-container__button__D__QO {
  pointer-events: none
}

.newsletter-form_field-container--variant-social__1OS1B.newsletter-form_field-container--success__3PNWL .newsletter-form_field-container__button__D__QO svg path {
  stroke: #41ff31
}

.general-form_general-form__fieldset__mMbLh {
  border: 0
}

.general-form_general-form__fieldset-grid__wBRj5 {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
  gap: 1.5625rem
}

.general-form_general-form__input__vXktS {
  width: 100%;
  border: none;
  border-radius: 0
}

.general-form_general-form__input-wrapper--radio__2RdKU {
  display: flex;
  align-items: center
}

.general-form_general-form__input--radio__lFqaY {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid #999;
  border-radius: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
  vertical-align: top
}

.general-form_general-form__input--radio__lFqaY:hover {
  background-color: #e5e5e5
}

.general-form_general-form__input--radio__lFqaY:checked {
  background-color: #000
}

.general-form_general-form__input--radio__lFqaY:focus,.general-form_general-form__input--radio__lFqaY:focus-within {
  outline: .125rem solid #2360c5;
  outline-offset: .25rem
}

.general-form_general-form__input--radio-label__svQ9G {
  margin-left: 1rem
}

.general-form_general-form__input--text-label__NBNUM {
  position: relative
}

.general-form_general-form__input--floating-label__Z2SBP {
  position: absolute;
  top: 50%;
  left: 14px;
  color: #4c4c4c;
  font-family: var(--font-base-sans-serif);
  letter-spacing: -.001875rem;
  line-height: 1.25rem;
  transform: translateY(-50%);
  transition: transform .15s;
  font-size: clamp(1rem,.38vw + .911971831rem,1.25rem)
}

.general-form_general-form__input-wrapper__EIgo2 {
  position: relative;
  margin-bottom: 1rem
}

.general-form_general-form__input--text__jQkuz {
  width: 100%;
  padding: 2.1875rem .875rem .625rem;
  border: 1.5px solid #999;
  border-radius: 6px;
  color: #4c4c4c;
  font-family: var(--font-base-sans-serif);
  letter-spacing: -.001875rem;
  line-height: 1.25rem;
  font-size: clamp(1rem,.38vw + .911971831rem,1.25rem)
}

.general-form_general-form__input--text__jQkuz::placeholder {
  color: transparent
}

.general-form_general-form__input--text__jQkuz:hover {
  background-color: #f2f2f2
}

.general-form_general-form__input--text__jQkuz:active,.general-form_general-form__input--text__jQkuz:hover {
  border-color: #4c4c4c
}

.general-form_general-form__input--text__jQkuz:active {
  color: #000
}

.general-form_general-form__input--text__jQkuz:focus,.general-form_general-form__input--text__jQkuz:focus-within {
  outline: .125rem solid #2360c5;
  outline-offset: .25rem
}

.general-form_general-form__input--text__jQkuz:focus-within~.general-form_general-form__input--floating-label__Z2SBP,.general-form_general-form__input--text__jQkuz:focus~.general-form_general-form__input--floating-label__Z2SBP,.general-form_general-form__input--text__jQkuz:not(:placeholder-shown)~.general-form_general-form__input--floating-label__Z2SBP {
  color: #999;
  transform: translateY(-25px) translateX(-15px) scale(.75)
}

.general-form_general-form--error__3oUkL .general-form_general-form__input--text__jQkuz {
  border-color: #ff0026
}

.general-form_general-form__description__5R8pc {
  color: gray
}

.general-form_general-form__error-message__CJDo2 {
  margin-bottom: 1rem;
  color: #ff0026
}

.article-date_article-date__zERT2 {
  color: currentcolor;
  font-weight: 600
}

.article-date_article-date--theme-dark__JUAPU {
  color: #000
}

.article-date_article-date--theme-gray__Sv9Iy {
  color: #999
}

.article-date_article-date--theme-light__OmZKb {
  color: #fff
}

.article-meta_article-meta__XzVV_ {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: currentcolor
}

.article-meta_article-meta--theme-dark__DRnfU {
  color: #000
}

.article-meta_article-meta--theme-gray__ZtEax {
  color: #999
}

.article-meta_article-meta--theme-light__N5DJS {
  color: #fff
}

.article-meta_article-meta__length__06VXY {
  position: relative;
  display: flex;
  flex-direction: row;
  color: inherit;
  font-weight: 600
}

.article-meta_article-meta__length__06VXY:last-child:not(:first-child) {
  margin-left: clamp(.9375rem,1.41vw + .6073943662rem,1.875rem)
}

.article-meta_article-meta__length__06VXY:last-child:not(:first-child):before {
  position: relative;
  top: .125rem;
  display: block;
  width: .125rem;
  background-color: currentcolor;
  content: "";
  height: clamp(.875rem,.28vw + .8089788732rem,1.0625rem);
  margin-right: clamp(.9375rem,1.41vw + .6073943662rem,1.875rem)
}

.article-card_article-card__aEMVY {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: .625rem;
  border-radius: .9375rem
}

.article-card_article-card__aEMVY:focus-visible {
  outline: .125rem solid #2360c5;
  outline-offset: .25rem
}

.article-card_article-card__aEMVY:active {
  outline: .125rem solid #31a2b1;
  outline-offset: 1
}

.article-card_article-card__title___yOHB:has(+.article-card_article-card__meta__0a38t) {
  margin-bottom: clamp(.625rem,.47vw + .5149647887rem,.9375rem)
}

@supports not selector(:has(+ .article-card__meta)) {
  .article-card_article-card__title___yOHB {
      margin-bottom: clamp(.625rem,.47vw + .5149647887rem,.9375rem)
  }
}

.article-card_article-card__title--dark__HEIQu {
  color: #fff
}

.article-card_article-card__image__2KqIw {
  order: -1;
  border-radius: .9375rem;
  margin-bottom: clamp(1.25rem,.94vw + 1.0299295775rem,1.875rem)
}

.article-card_article-card__image__2KqIw img {
  object-fit: cover;
  transition-duration: 1s;
  transition-property: transform
}

.article-card_article-card__aEMVY:hover .article-card_article-card__image__2KqIw img {
  transform: scale(1.05)
}

.article-card_article-card__topics__KYIDQ {
  display: flex;
  flex-flow: row wrap;
  order: -1;
  gap: clamp(.625rem,.47vw + .5149647887rem,.9375rem);
  margin-bottom: clamp(.625rem,.47vw + .5149647887rem,.9375rem)
}

.article-card_article-card__topics__KYIDQ:is(ul) {
  list-style: none
}

.article-card_article-card__topics--dark__k_j_p {
  color: #fff
}

.article-card_article-card__icon__9qYAu {
  position: absolute!important;
  bottom: 1.25rem;
  left: 1.25rem;
  width: 3.125rem;
  height: 3.125rem
}

.article-card_article-card__icon--large__osiyg {
  width: clamp(3.125rem,.94vw + 2.9049295775rem,3.75rem);
  height: clamp(3.125rem,.94vw + 2.9049295775rem,3.75rem);
  bottom: clamp(1.25rem,.94vw + 1.0299295775rem,1.875rem);
  left: clamp(1.25rem,.94vw + 1.0299295775rem,1.875rem)
}

.article-card_article-card__link__c98yv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: .9375rem
}

.article-card_article-card__link__c98yv:focus-visible {
  outline: .125rem solid #2360c5;
  outline-offset: .25rem
}

.article-card_article-card__link__c98yv:active {
  outline: .125rem solid #31a2b1;
  outline-offset: 1
}

.content-filter_content-filter__ZnXHx {
  display: grid;
  grid-row-gap: clamp(1.875rem,1.88vw + 1.4348591549rem,3.125rem);
  row-gap: clamp(1.875rem,1.88vw + 1.4348591549rem,3.125rem)
}

.content-filter_content-filter__filters-grid__pZJcw {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-column-gap: clamp(.9375rem,1.41vw + .6073943662rem,1.875rem);
  column-gap: clamp(.9375rem,1.41vw + .6073943662rem,1.875rem)
}

.content-filter_content-filter__filters__cdSYU {
  display: flex;
  flex-wrap: nowrap;
  padding: .625rem .25rem;
  grid-column: 1/-1;
  overflow-x: scroll;
  overflow-y: hidden;
  column-gap: clamp(.9375rem,.47vw + .8274647887rem,1.25rem);
  row-gap: clamp(.9375rem,.47vw + .8274647887rem,1.25rem)
}

@media(min-aspect-ratio: 1/1) {
  .content-filter_content-filter__filters__cdSYU {
      flex-wrap:wrap;
      padding-right: 0;
      padding-left: 0;
      margin-right: 0;
      margin-left: 0;
      overflow-x: unset;
      overflow-y: unset
  }
}

.content-filter_content-filter--wrap__2pyY5 .content-filter_content-filter__filters__cdSYU {
  flex-wrap: wrap;
  padding-right: 0;
  padding-left: 0;
  overflow-x: unset;
  overflow-y: unset
}

.keen-slider:not([data-keen-slider-disabled]) {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  align-content: flex-start;
  display: flex;
  overflow: hidden;
  position: relative;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -khtml-user-select: none;
  width: 100%
}

.keen-slider:not([data-keen-slider-disabled]) .keen-slider__slide {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%
}

.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-reverse] {
  flex-direction: row-reverse
}

.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-v] {
  flex-wrap: wrap
}

.content-card-carousel_content-card-carousel__header__HUS_M {
  display: block;
  padding-top: .25rem;
  padding-right: .25rem
}

@media(min-aspect-ratio: 1/1) {
  .content-card-carousel_content-card-carousel__header__HUS_M {
      display:flex;
      flex-wrap: wrap
  }
}

.content-card-carousel_content-card-carousel__heading__Ochhw {
  display: flex;
  min-width: min-content;
  flex: 1 1 auto;
  align-items: center
}

.content-card-carousel_content-card-carousel__link__SbM16 {
  font-weight: 600
}

.content-card-carousel_content-card-carousel__controls__CdwaR {
  display: flex;
  min-width: min-content;
  flex: 1 1 auto;
  align-items: center;
  justify-content: flex-end;
  column-gap: .625rem
}

@media(max-aspect-ratio: 1/1) {
  .content-card-carousel_content-card-carousel__controls__CdwaR {
      margin-top:1.875rem
  }
}

.content-card-carousel_content-card-carousel__slider__KXqwh {
  overflow: visible!important;
  padding-bottom: .5rem;
  margin-top: 1.875rem
}

@media(min-aspect-ratio: 1/1) {
  .content-card-carousel_content-card-carousel__slider__KXqwh {
      margin-top:3.125rem
  }
}

.content-card-carousel_content-card-carousel__slide__NbLyk {
  overflow: visible!important
}

.content-card-carousel_content-card-carousel__control-items__WAchc {
  display: flex;
  column-gap: .625rem
}

.article-carousel_article-carousel__3F73G {
  overflow: hidden
}

.content-card-grid_content-card-grid__yZV8Z {
  grid-auto-flow: dense;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(min(20.9375rem,100%),1fr));
  grid-column-gap: clamp(.9375rem,1.41vw + .6073943662rem,1.875rem);
  column-gap: clamp(.9375rem,1.41vw + .6073943662rem,1.875rem);
  grid-row-gap: clamp(2.5rem,5.63vw + 1.1795774648rem,6.25rem);
  row-gap: clamp(2.5rem,5.63vw + 1.1795774648rem,6.25rem);
  padding-bottom: clamp(2.5rem,5.63vw + 1.1795774648rem,6.25rem)
}

.content-card-grid_content-card-grid__yZV8Z:last-of-type {
  padding-bottom: .5rem
}

.content-card-grid_content-card-grid__pagination-control-container__8be3r {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: .25rem
}

.article-list_article-list__header__vh1no {
  margin-bottom: clamp(2.5rem,5.63vw + 1.1795774648rem,6.25rem)
}

.article-list_article-list__header-column___Ucvp {
  grid-column: span 6
}

@media(max-aspect-ratio: 1/1) {
  .article-list_article-list__header-column___Ucvp {
      grid-column:1/-1
  }
}

.article-list_article-list__header-column--right__uh99J {
  display: flex;
  justify-content: flex-end
}

.article-list_article-list__header-column--right__uh99J:first-child {
  grid-column: span 12
}

@media(max-aspect-ratio: 1/1) {
  .article-list_article-list__header-column--right__uh99J {
      margin-top:clamp(1.25rem,1.88vw + .8098591549rem,2.5rem)
  }
}

.article-topics_article-topics__items__AjPYz {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1.875rem;
  gap: .625rem;
  list-style-type: none
}

.article-topics_article-topics--theme-light__mVWZg li span {
  border-color: #999;
  color: #fff
}

.article-topics_article-topics--theme-dark__GcmSi li span {
  border-color: #999;
  color: #000
}

.post-hero_post-hero__iP9mb {
  position: relative;
  width: 100%;
  margin-top: var(--post-hero-margin-top,4.5rem);
  background-image: linear-gradient(180deg,#000 0,#000 85%,#fff 0,#fff);
  color: #fff;
  padding-top: clamp(3.75rem,3.76vw + 2.8697183099rem,6.25rem)
}

.post-hero_post-hero--theme-light__3ZoJx {
  background-image: linear-gradient(180deg,#f3f5f9 0,#f3f5f9 85%,#fff 0,#fff);
  color: #000
}

.post-hero_post-hero--no-media__FRvrS {
  background-image: none;
  padding-bottom: clamp(.9375rem,1.41vw + .6073943662rem,1.875rem)
}

.post-hero_post-hero--no-media__FRvrS.post-hero_post-hero--theme-light__3ZoJx {
  background-color: #f3f5f9
}

.post-hero_post-hero--no-media__FRvrS.post-hero_post-hero--theme-dark__AV16K {
  background-color: #000
}

.post-hero_post-hero__share__2GJHo {
  display: flex;
  flex-direction: row;
  gap: .9375rem
}

.post-hero_post-hero__author__h70d1,.post-hero_post-hero__title__9RHu0 {
  margin-top: clamp(1.25rem,.94vw + 1.0299295775rem,1.875rem)
}

.post-hero_post-hero__meta-container__T6MFz {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3.75rem
}

.post-hero_post-hero__image__A5Scu,.post-hero_post-hero__video__z9XZB {
  border-radius: 1.875rem;
  margin-top: clamp(.9375rem,2.35vw + .3873239437rem,2.5rem)
}

.spacer_spacer--small__kYuOG {
  height: clamp(1.5625rem,2.35vw + 1.0123239437rem,3.125rem)
}

.spacer_spacer--medium__jX0Eb {
  height: clamp(3.125rem,4.69vw + 2.0246478873rem,6.25rem)
}

.spacer_spacer--large__IyVm7 {
  height: clamp(6.25rem,9.39vw + 4.0492957746rem,12.5rem)
}

.newsletter-social_newsletter-social__1jiJR {
  padding-bottom: .25rem;
  padding-right: clamp(1.25rem,7.51vw + -.5105633803rem,6.25rem);
  padding-left: clamp(1.25rem,7.51vw + -.5105633803rem,6.25rem)
}

.newsletter-social_newsletter-social__content__VuBLe {
  display: flex;
  flex-direction: column;
  row-gap: 3.75rem;
  min-width: 20.8125rem;
  max-width: 77.625rem
}

.newsletter-social_newsletter-social__header__Rfecx {
  display: flex;
  flex-direction: column;
  row-gap: 1.875rem
}

.newsletter-social_newsletter-social__heading__YqVD4 {
  max-width: 51.5rem
}

.newsletter-social_newsletter-social__description__jjhQa {
  max-width: 31.25rem
}

.newsletter-social_newsletter-social__description__jjhQa p {
  margin: 0
}

.newsletter-social_newsletter-social__email-input__meZGh {
  max-width: 80rem
}

.newsletter-social_newsletter-social__social-links__NduUj {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem
}

.rich-text-block_rich-text-block__content__DygQ_ * {
  grid-column: span 12
}

@media(min-aspect-ratio: 1/1) {
  .rich-text-block_rich-text-block__content__DygQ_ {
      grid-template-columns:repeat(12,1fr);
      column-gap: clamp(.9375rem,1.41vw + .6073943662rem,1.875rem)
  }

  .rich-text-block_rich-text-block__content__DygQ_ :is(h1,h2,h3,h4,h5,h6,figure,p,ul,ol,hr) {
      grid-column: 3/span 8
  }

  .rich-text-block_rich-text-block__content__DygQ_ .block-figure {
      grid-column: 3/span 9
  }

  .rich-text-block_rich-text-block__content__DygQ_ .block-image,.rich-text-block_rich-text-block__content__DygQ_ .block-video {
      grid-column: 2/span 10
  }
}
