.country-selector_country-selector__select-trigger__JP0uz {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: .125rem;
  background-color: #000;
  font-size: 0;
  gap: .625rem
}

.country-selector_country-selector__select-trigger__JP0uz:focus {
  outline: .125rem solid #2360c5;
  outline-offset: .25rem
}

.country-selector_country-selector__select-trigger__JP0uz>span>svg {
  width: 1.5rem
}

.country-selector_country-selector__select-icon__8cpDE {
  display: flex;
  rotate: 180deg
}

.country-selector_country-selector__select-icon__8cpDE>svg>path {
  stroke: #fff
}

.country-selector_country-selector__select-content__CG3XL {
  background-color: #fff
}

.country-selector_country-selector__select-item__berCU {
  position: relative;
  width: 9rem;
  padding: .625rem .625rem .625rem 1rem;
  border: .0625rem solid #999;
  border-top: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

.country-selector_country-selector__select-item__berCU:hover {
  background-color: #e5e5e5
}

.country-selector_country-selector__select-item__berCU:active {
  background-color: #ccc
}

.country-selector_country-selector__select-item__berCU>span {
  display: flex;
  align-items: center;
  column-gap: .375rem
}

.country-selector_country-selector__select-item__berCU>span>svg {
  width: 1.5rem
}

.country-selector_country-selector__select-viewport__fPuf_ {
  max-height: clamp(200px,50vh,100vh);
  overflow-y: auto
}

.newsletter-form_field-container__xRqTM {
  position: relative;
  display: flex;
  flex-direction: column
}

.newsletter-form_field-container__input-wrapper__oN7b5 {
  position: relative
}

.newsletter-form_field-container__input__4cKpi {
  width: 100%;
  border: none;
  border-radius: 0
}

.newsletter-form_field-container__state-messages__Ny_Sl {
  font-weight: 600
}

.newsletter-form_field-container__input__4cKpi:focus {
  outline: .125rem solid #2360c5;
  outline-offset: .25rem
}

.newsletter-form_field-container__button__D__QO {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%)
}

.newsletter-form_field-container__button__D__QO:focus {
  outline: .125rem solid #2360c5;
  outline-offset: .25rem
}

.newsletter-form_field-container--variant-default__jvxua {
  padding: .625rem;
  background-color: #000;
  color: #fff;
  row-gap: .625rem
}

.newsletter-form_field-container--variant-default__jvxua .newsletter-form_field-container__label__pKCya {
  gap: .625rem
}

.newsletter-form_field-container--variant-default__jvxua .newsletter-form_field-container__input__4cKpi {
  height: 2.5rem;
  border-bottom: .0625rem solid #fff;
  background-color: #000;
  color: #fff
}

.newsletter-form_field-container--variant-default__jvxua .newsletter-form_field-container__button__D__QO {
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer
}

.newsletter-form_field-container--variant-default__jvxua .newsletter-form_field-container__state-messages__Ny_Sl {
  color: #999
}

.newsletter-form_field-container--variant-social__1OS1B {
  row-gap: 1.25rem
}

.newsletter-form_field-container--variant-social__1OS1B .newsletter-form_field-container__label__pKCya {
  gap: .875rem
}

.newsletter-form_field-container--variant-social__1OS1B .newsletter-form_field-container__input__4cKpi {
  height: 5.625rem;
  padding-right: calc(2.5rem + .25rem);
  border-bottom: .0625rem solid #000;
  background-color: #f3f5f9;
  line-height: 3.125rem;
  font-size: clamp(1.875rem,1.88vw + 1.4348591549rem,3.125rem)
}

.newsletter-form_field-container--variant-social__1OS1B .newsletter-form_field-container__button__D__QO {
  background-color: #f3f5f9;
  color: #000
}

.newsletter-form_field-container--variant-social__1OS1B .newsletter-form_field-container__button__D__QO:focus {
  border: none;
  outline: none
}

.newsletter-form_field-container--variant-default__jvxua.newsletter-form_field-container--error__QBtAY .newsletter-form_field-container__input__4cKpi,.newsletter-form_field-container--variant-social__1OS1B.newsletter-form_field-container--error__QBtAY .newsletter-form_field-container__input__4cKpi {
  border-color: #ff0026
}

.newsletter-form_field-container--variant-default__jvxua.newsletter-form_field-container--error__QBtAY .newsletter-form_field-container__state-messages__Ny_Sl,.newsletter-form_field-container--variant-social__1OS1B.newsletter-form_field-container--error__QBtAY .newsletter-form_field-container__state-messages__Ny_Sl {
  color: #ff0026;
  font-size: 1.25rem;
  font-weight: 700
}

.newsletter-form_field-container--variant-default__jvxua.newsletter-form_field-container--success__3PNWL .newsletter-form_field-container__input__4cKpi {
  border-color: #41ff31
}

.newsletter-form_field-container--variant-default__jvxua.newsletter-form_field-container--success__3PNWL .newsletter-form_field-container__button__D__QO {
  color: #41ff31
}

.newsletter-form_field-container--variant-social__1OS1B.newsletter-form_field-container--success__3PNWL .newsletter-form_field-container__button__D__QO {
  pointer-events: none
}

.newsletter-form_field-container--variant-social__1OS1B.newsletter-form_field-container--success__3PNWL .newsletter-form_field-container__button__D__QO svg path {
  stroke: #41ff31
}

.footer_footer__mTxNf {
  padding-bottom: 1.875rem;
  grid-template-columns: repeat(12,1fr);
  grid-column-gap: clamp(.9375rem,1.41vw + .6073943662rem,1.875rem);
  padding-top: clamp(3.125rem,2.35vw + 2.5748239437rem,4.6875rem)
}

.footer_footer-navigation-links__Ga76A,.footer_footer__mTxNf {
  display: grid;
  column-gap: clamp(.9375rem,1.41vw + .6073943662rem,1.875rem)
}

.footer_footer-navigation-links__Ga76A {
  grid-column: 1/-1;
  grid-template-columns: repeat(6,2fr);
  grid-column-gap: clamp(.9375rem,1.41vw + .6073943662rem,1.875rem);
  margin-bottom: clamp(3.125rem,4.69vw + 2.0246478873rem,6.25rem)
}

.footer_footer-navigation-links__heading__i4DOl,.footer_footer-newsletter__heading__TARiB {
  color: #999;
  margin-bottom: clamp(.9375rem,1.41vw + .6073943662rem,1.875rem)
}

.footer_footer-bottom-bar__items__k8AQv,.footer_footer-navigation-links__items__pjcpl {
  margin-bottom: .9375rem;
  list-style: none
}

.footer_footer-bottom-bar__items__k8AQv a,.footer_footer-navigation-links__items__pjcpl a {
  text-decoration: none
}

.footer_footer-newsletter__Vekg5 {
  margin-bottom: 3.125rem;
  grid-column: 9/-1
}

.footer_footer-newsletter__Vekg5 form {
  padding: 0
}

.footer_footer-newsletter__Vekg5>form>span {
  font-size: .875rem;
  font-weight: 500
}

.footer_footer-newsletter__Vekg5 form>div>button>span {
  color: #999
}

.footer_footer-bottom-bar__logo__hTiOH {
  grid-column: 1/6
}

.footer_footer-bottom-bar__mission__Rrdwm {
  margin-top: 1.5625rem
}

.footer_footer-bottom-bar__copyright__qZtDm {
  white-space: nowrap
}

.footer_footer-bottom-bar__copyright__qZtDm p,.footer_footer-bottom-bar__legal-items__FEeh8 li,.footer_footer-bottom-bar__mission__Rrdwm p {
  color: #999;
  font-size: .875rem
}

.footer_footer-bottom-bar__IeIL7 {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-column-gap: clamp(.9375rem,1.41vw + .6073943662rem,1.875rem);
  column-gap: clamp(.9375rem,1.41vw + .6073943662rem,1.875rem);
  grid-row-gap: clamp(1.875rem,1.88vw + 1.4348591549rem,3.125rem);
  row-gap: clamp(1.875rem,1.88vw + 1.4348591549rem,3.125rem)
}

.footer_footer-bottom-bar__legal__lR_n9 {
  display: grid;
  align-items: center;
  grid-column: 1/-1;
  grid-template-columns: repeat(4,1fr);
  grid-column-gap: clamp(.9375rem,1.41vw + .6073943662rem,1.875rem);
  column-gap: clamp(.9375rem,1.41vw + .6073943662rem,1.875rem)
}

.footer_footer-bottom-bar__legal-items-container__Bn5iw {
  display: grid;
  grid-column-gap: .625rem;
  column-gap: .625rem;
  grid-column: 4/-1;
  grid-template-columns: repeat(3,1fr)
}

.footer_footer-bottom-bar__legal-items__FEeh8 {
  display: flex;
  align-items: center;
  grid-column-start: 2
}

.footer_footer-bottom-bar__legal-items__FEeh8 li {
  margin: 0;
  white-space: nowrap
}

.footer_footer-bottom-bar__country-selector__PUqxQ {
  display: flex;
  justify-content: flex-end
}

@media(max-aspect-ratio: 1/1) {
  .footer_footer-navigation-links__Ga76A {
      grid-column:1/-1;
      grid-template-columns: repeat(2,2fr);
      row-gap: 2.5rem
  }

  .footer_footer-newsletter__Vekg5 {
      grid-column: 1/-1;
      grid-row: 1
  }

  .footer_footer-bottom-bar__logo__hTiOH,.footer_footer-bottom-bar__mission__Rrdwm {
      grid-column: 1/-1
  }

  .footer_footer-bottom-bar__legal__lR_n9 {
      display: flex;
      justify-content: space-between;
      grid-column: 1/-1
  }
}

.preview-mode-indicator_floatingBox__WOpn1 {
  position: fixed;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 1.875rem;
  background-color: rgba(77,77,77,.7);
  color: #fff;
  cursor: move;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

@media(min-width: 63rem) {
  .preview-mode-indicator_floatingBox__WOpn1 {
      width:40rem
  }
}

@media(max-width: 63rem) {
  .preview-mode-indicator_floatingBox__WOpn1 {
      width:27rem
  }
}

.preview-mode-indicator_noSelect__970P7 {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

.preview-mode-indicator_floatingBox__WOpn1 p {
  margin: 0;
  font-weight: 700
}

.preview-mode-indicator_floatingBox__WOpn1 .preview-mode-indicator_indicator__8ZEkT {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center
}

.preview-mode-indicator_floatingBox__WOpn1 button {
  padding: 5px 10px;
  border: none;
  border-radius: 1.875rem;
  margin-left: 10px;
  background-color: #fff;
  color: #ff0026;
  cursor: pointer;
  font-weight: 700
}

.preview-mode-indicator_floatingBox__WOpn1 button:hover {
  background-color: #e2e2e2
}

.default-layout_layout__qyW8_ {
  position: relative;
  margin: 0 auto
}

.default-layout_layout__container__daLGs {
  display: grid;
  width: 100%;
  min-height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto
}

.default-layout_layout__header__DiRAG {
  position: fixed;
  z-index: 800;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  pointer-events: none
}

.default-layout_layout__content__idux3,.default-layout_layout__footer__8DYb8 {
  position: relative
}

:root {
  --font-base-sans-serif: "proxima-nova","Arial","Helvetica",sans-serif
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

html {
  height: 100%
}

body,html {
  max-width: 100vw;
  background-color: #000;
  font-size: 100%
}

body {
  min-height: 100vh;
  background-color: #fff;
  color: #000;
  font-family: var(--font-base-sans-serif)
}

a {
  color: inherit
}

img[src*="amazon-adsystem.com"],img[src*="doubleclick.net"] {
  display: none
}
