.accordion_accordion__UdnlH {
  height: auto
}

.accordion_accordion--dark__5LL0_ {
  background-color: var(--module-background,#000)
}

.accordion_accordion--light__Ih_UJ {
  background-color: var(--module-background,#fff)
}

.accordion_accordion__header__3qT04 {
  position: relative;
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.875rem 0;
  border-style: none;
  margin: 0;
  background: none;
  color: inherit;
  cursor: pointer;
  font-family: var(--font-base-sans-serif);
  outline: none;
  text-align: left
}

.accordion_accordion__header__3qT04:hover {
  color: #4c4c4c
}

.accordion_accordion__header--dark__v01My {
  color: #fff
}

.accordion_accordion__header--dark__v01My:hover {
  color: #e5e5e5
}

.accordion_accordion__header__3qT04::-moz-focus-inner {
  border: 0
}

.accordion_accordion__header__3qT04:focus,.accordion_accordion__header__3qT04:focus-visible {
  outline: .125rem solid #2360c5;
  outline-offset: .25rem
}

.accordion_accordion__title-content__QtUzg {
  display: flex;
  align-items: center;
  column-gap: .9375rem
}

.accordion_accordion__thumbnail__JzBrN {
  overflow: hidden;
  width: 3.625rem;
  height: 3.625rem;
  border-radius: 50%
}

.accordion_accordion__title__9Mtci {
  display: block;
  border: 0;
  margin: .625rem;
  font-weight: 600;
  outline: none
}

.accordion_accordion__icon-container__qjiPy {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  transition: transform .5s ease
}

.accordion_accordion__header__3qT04[aria-expanded=false] .accordion_accordion__icon-container__qjiPy {
  transform: rotate(180deg)
}

.accordion_accordion__panel__ENNCb {
  display: grid;
  overflow: hidden;
  margin: 0;
  grid-template-rows: 0fr;
  transition-duration: .5s;
  transition-property: grid-template-rows,padding;
  transition-timing-function: ease
}

.accordion_accordion__panel--dark__gCDDt {
  color: #999
}

.accordion_accordion--open__R_AeL .accordion_accordion__panel__ENNCb {
  padding: .5rem 0 1.875rem;
  grid-template-rows: 1fr
}

.accordion_accordion__panel-animation__mOaVS {
  min-height: 0
}

.accordion_accordion__panel-animation-wrapper__DbS3d {
  transform: translateY(-100%);
  transition-duration: .5s;
  transition-property: transform,visibility;
  transition-timing-function: ease;
  visibility: hidden
}

.accordion_accordion--open__R_AeL .accordion_accordion__panel-animation-wrapper__DbS3d {
  transform: translateY(0);
  transition: transform .5s ease,visibility 0s linear;
  visibility: visible
}

.rich-text_rich-text__y_zI2 {
  position: relative
}

.rich-text_rich-text__y_zI2>* {
  margin-bottom: clamp(3.125rem,4.69vw + 2.0246478873rem,6.25rem)
}

.rich-text_rich-text__y_zI2>:last-child {
  margin-bottom: 0
}

.rich-text_rich-text__y_zI2 :is(h1,h2,h3,h4,h5,h6) {
  margin-bottom: clamp(.625rem,1.88vw + .1848591549rem,1.875rem)
}

.rich-text_rich-text__y_zI2 ul {
  list-style-type: disc
}

.rich-text_rich-text__y_zI2 ol {
  list-style-type: decimal
}

.rich-text_rich-text__y_zI2 ol,.rich-text_rich-text__y_zI2 ul {
  list-style-position: outside;
  -webkit-margin-start: .9375rem;
  margin-inline-start:.9375rem;-webkit-padding-start: .9375rem;
  padding-inline-start:.9375rem}

.rich-text_rich-text__y_zI2 ol li:not(:last-child),.rich-text_rich-text__y_zI2 ul li:not(:last-child) {
  margin-bottom: 1.25rem
}

.rich-text_rich-text__y_zI2 ol ol,.rich-text_rich-text__y_zI2 ol ul,.rich-text_rich-text__y_zI2 ul ol,.rich-text_rich-text__y_zI2 ul ul {
  margin-top: 1.25rem;
  margin-bottom: 0
}

.rich-text_rich-text__y_zI2 p {
  margin-bottom: 0
}

.rich-text_rich-text__y_zI2 p+ol,.rich-text_rich-text__y_zI2 p+p,.rich-text_rich-text__y_zI2 p+ul {
  margin-top: clamp(1.5625rem,.47vw + 1.4524647887rem,1.875rem)
}

.rich-text_rich-text__y_zI2 p+:not(p,ul,ol) {
  margin-top: clamp(3.125rem,4.69vw + 2.0246478873rem,6.25rem)
}

.rich-text_rich-text__y_zI2 sub,.rich-text_rich-text__y_zI2 sup {
  position: relative;
  vertical-align: baseline
}

.rich-text_rich-text__y_zI2 sup {
  top: -.4em
}

.rich-text_rich-text__y_zI2 sub {
  top: .4em
}

.rich-text_rich-text__y_zI2 b {
  font-weight: 600
}

.rich-text_rich-text__y_zI2 hr {
  border-top: 1px solid var(--module-text-color,rgba(0,0,0,.2));
  border-bottom-width: 0
}

.rich-text_rich-text__y_zI2 figure {
  color: gray
}

.rich-text_rich-text__y_zI2 .block-image,.rich-text_rich-text__y_zI2 .block-video {
  border-radius: clamp(.9375rem,1.41vw + .6073943662rem,1.875rem)
}

@keyframes overlay-modal_overlay-show___MKNW {
  0% {
      opacity: 0
  }

  to {
      opacity: 1
  }
}

@keyframes overlay-modal_content-show__YVybU {
  0% {
      opacity: 0;
      transform: translate(-50%,-48%) scale(.96)
  }

  to {
      opacity: 1;
      transform: translate(-50%,-50%) scale(1)
  }
}

.overlay-modal_overlay-modal__dialog-overlay__VfBG1 {
  position: fixed;
  animation-duration: .15s;
  animation-name: overlay-modal_overlay-show___MKNW;
  animation-timing-function: cubic-bezier(.16,1,.3,1);
  background-color: rgba(0,0,0,.3);
  inset: 0
}

.overlay-modal_overlay-modal__dialog-content__wpfSF {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  width: calc(100vw - 2.5rem);
  max-width: 71rem;
  min-height: 5.375rem;
  max-height: 80dvh;
  animation-duration: .15s;
  animation-name: overlay-modal_content-show__YVybU;
  animation-timing-function: cubic-bezier(.16,1,.3,1);
  overflow-y: auto;
  transform: translate(-50%,-50%);
  border-radius: clamp(1.25rem,.94vw + 1.0299295775rem,1.875rem);
  padding: clamp(.9375rem,.47vw + .8274647887rem,1.25rem)
}

.overlay-modal_overlay-modal__dialog-content--theme-light__ouZW3 {
  background-color: var(--module-background,#fff)
}

.overlay-modal_overlay-modal__dialog-content--theme-dark__Uw5n4 {
  background-color: var(--module-background,#000)
}

.overlay-modal_overlay-modal__dialog-content__wpfSF:focus {
  outline: none
}

.overlay-modal_overlay-modal__dialog-content--fullscreen__r98bG {
  width: 100dvw;
  max-width: 100dvw;
  height: 100dvh;
  max-height: 100dvh;
  border-radius: 0
}

.overlay-modal_overlay-modal__button__BHgGy {
  position: absolute;
  top: clamp(1.25rem,.28vw + 1.1839788732rem,1.4375rem);
  right: clamp(1.25rem,.56vw + 1.1179577465rem,1.625rem)
}

.membership-card_membership-card__zmtSR {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 23.9375rem;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 3.125rem 1.875rem 1.875rem;
  border: .0625rem solid #ccc;
  border-radius: 1.875rem;
  background: #fff
}

@media(max-aspect-ratio: 1/1) {
  .membership-card_membership-card__zmtSR {
      width:100%;
      min-height: 12.625rem;
      padding: 2.1875rem 1.875rem 1.25rem 1.25rem
  }
}

.membership-card_membership-card__badge__BJNgy {
  position: absolute;
  top: -.9375rem;
  left: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: .3125rem .625rem;
  border-radius: .3125rem;
  color: #fff;
  gap: .625rem;
  text-transform: uppercase
}

.membership-card_membership-card__badge--color-black__dv_Vo {
  background-color: #000
}

.membership-card_membership-card__badge--color-green__XQGK0 {
  background-color: #00f19f;
  color: #000
}

.membership-card_membership-card__zmtSR:hover {
  box-shadow: 0 .25rem 1.25rem 0 rgba(0,0,0,.2);
  outline: .125rem solid #00f19f;
  outline-offset: -.0625rem
}

.membership-card_membership-card__zmtSR:focus {
  outline: .125rem solid var(--primary-colors-accent-blue,-webkit-focus-ring-color);
  outline-offset: .125rem
}

.membership-card_membership-card__price-container__I3vPk {
  margin-bottom: .625rem
}

@media(max-aspect-ratio: 1/1) {
  .membership-card_membership-card__price-container__I3vPk {
      display:flex;
      flex-direction: row;
      align-items: flex-end;
      gap: .625rem
  }
}

.membership-card_membership-card__price__bdweR {
  display: flex;
  align-items: flex-end;
  gap: .25rem
}

.membership-card_membership-card__frequency___Bh_7 {
  font-weight: 600
}

.membership-card_membership-card__commitment-heading__jyFzS {
  margin-bottom: .625rem;
  font-weight: 600
}

.membership-card_membership-card__commitment-fine-print__3achX {
  color: #666
}

.membership-card_membership-card__link__JTZ1B {
  position: absolute
}

@media(min-aspect-ratio: 1/1) {
  .membership-card_membership-card__link__JTZ1B {
      top:0;
      left: 0;
      width: 100%;
      height: 80%
  }

  .membership-card_membership-card__link__JTZ1B button {
      display: none
  }
}

@media(max-aspect-ratio: 1/1) {
  .membership-card_membership-card__link__JTZ1B {
      right:1.875rem;
      bottom: 1.25rem
  }
}

.membership-card_membership-card__open-modal-label___RvXQ {
  border: none;
  margin-top: .625rem;
  background: none;
  color: #666;
  cursor: pointer;
  text-decoration: underline;
  -webkit-text-decoration-color: #666;
  text-decoration-color: #666
}

.membership-card_membership-card__modal-grid__V8r3C {
  display: grid;
  grid-template-columns: repeat(2,minmax(min(20.9375rem,100%),1fr));
  grid-column-gap: clamp(.9375rem,1.41vw + .6073943662rem,1.875rem);
  column-gap: clamp(.9375rem,1.41vw + .6073943662rem,1.875rem)
}

@media(max-aspect-ratio: 1/1) {
  .membership-card_membership-card__modal-grid__V8r3C {
      display:flex;
      flex-direction: column
  }
}

.membership-card_membership-card__modal-image__apfXy {
  border-radius: .9375rem
}

@media(min-aspect-ratio: 1/1)and (max-height:63rem) {
  .membership-card_membership-card__modal-image__apfXy img,.membership-card_membership-card__modal-image__apfXy.membership-card_membership-card__modal-image__apfXy {
      aspect-ratio:unset
  }
}

@media(max-aspect-ratio: 1/1) {
  .membership-card_membership-card__modal-image__apfXy {
      margin-bottom:3.125rem
  }
}

@media(max-aspect-ratio: 1/1)and (min-width:40.0625rem) {
  .membership-card_membership-card__modal-image__apfXy img,.membership-card_membership-card__modal-image__apfXy.membership-card_membership-card__modal-image__apfXy {
      aspect-ratio:unset
  }
}

@media(min-aspect-ratio: 1/1) {
  .membership-card_membership-card__modal-text__QGYl3 {
      max-width:18.75rem
  }
}

@media(max-aspect-ratio: 1/1) {
  .membership-card_membership-card__modal-text__QGYl3 {
      padding:0 .9375rem;
      text-align: center
  }
}

.membership-card_membership-card__modal-heading___86Ev {
  text-transform: uppercase;
  margin-bottom: clamp(1.25rem,1.88vw + .8098591549rem,2.5rem)
}

.membership-card_membership-card__modal-sub-heading__GtAKN {
  text-transform: uppercase;
  margin-bottom: clamp(1.25rem,5.63vw + -.0704225352rem,5rem)
}

.membership-card_membership-card__modal-content__hFzE2 {
  margin-bottom: clamp(1.25rem,5.63vw + -.0704225352rem,5rem)
}

.membership-card_membership-card--sale__OgRYq .membership-card_membership-card__price-container__I3vPk {
  flex-wrap: wrap;
  margin-bottom: 2.5rem
}

.membership-card_membership-card--sale__OgRYq .membership-card_membership-card__price-container__I3vPk .membership-card_membership-card__frequency___Bh_7 {
  width: 100%
}

.membership-card_membership-card--sale__OgRYq .membership-card_membership-card__price--strikethrough__bBXN2 {
  color: #969696;
  text-decoration: line-through;
  text-decoration-thickness: 2px
}

.membership-card_membership-card--sale__OgRYq:hover {
  outline-color: #000
}

.sign-up-routing_sign-up-routing__4fYEb {
  padding-top: 1.25rem;
  padding-bottom: 1.75rem
}

.sign-up-routing_sign-up-routing__grid__BL9XP {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  grid-column-gap: clamp(.9375rem,1.41vw + .6073943662rem,1.875rem);
  column-gap: clamp(.9375rem,1.41vw + .6073943662rem,1.875rem)
}

@media(max-aspect-ratio: 1/1) {
  .sign-up-routing_sign-up-routing__grid__BL9XP {
      grid-auto-flow:row;
      row-gap: 1.5625rem
  }
}

.mega-menu_header__Gb1tE {
  position: -webkit-sticky;
  position: sticky;
  z-index: 300;
  top: 0;
  height: 4.5rem;
  padding: 0 1.5625rem;
  pointer-events: all
}

@media(prefers-reduced-motion:no-preference) {
  .mega-menu_header__Gb1tE {
      transition-duration: .25s;
      transition-property: transform;
      transition-timing-function: cubic-bezier(.4,0,.2,1)
  }
}

@media(max-width: 63rem) {
  .mega-menu_header__Gb1tE {
      padding:0
  }
}

.mega-menu_header--with-banner__0lmqG {
  height: 7.625rem;
  padding-top: 3.125rem
}

.mega-menu_header--hide__IKmcx {
  transform: translateY(-100%)
}

.mega-menu_header--show___5uwv {
  transform: translateY(0)
}

.mega-menu_header__banner-container___CTFO {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%
}

.mega-menu_header__content__DTwOP {
  position: relative;
  display: flex;
  /* height:4.5rem; */
  flex-direction: row;
  align-items: center
}

.mega-menu_header__logo__PDxP9 {
  position: relative;
  width: auto;
  /* height:1.9375rem; */
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.mega-menu_header__logo__PDxP9 svg {
  height: 1.9375rem
}

@media(max-width: 63rem) {
  .mega-menu_header__logo__PDxP9 {
      height:1.5625rem;
      padding-left: 1.125rem
  }
}

@media(min-width: 63rem) {
  .mega-menu_header__logo__PDxP9 {
      width:11.375rem;
      /* height:1.9375rem; */
  }
}

.mega-menu_header__navigation__r50sd {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center
}

@media(max-width: 63rem) {
  .mega-menu_header__navigation__r50sd {
      flex-direction:column;
      justify-content: flex-start
  }
}

.mega-menu_header__navigation--desktop__1_Ny1 {
  height: 100%
}

@media(max-width: 63rem) {
  .mega-menu_header__navigation--desktop__1_Ny1 {
      display:none
  }
}

.mega-menu_header__navigation--mobile__iC_k2 {
  display: none
}

@media(max-width: 63rem) {
  .mega-menu_header__navigation--mobile__iC_k2 {
      display:block;
      background-color: #fff;
      color: #000
  }
}

.mega-menu_header__navigation-items__aqIS6 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  gap: 45px;
}

@media(min-width: 63rem) {
  .mega-menu_header__navigation-items__aqIS6:hover li:not(:hover) {
      color:#b2b2b2
  }

  .mega-menu_header__navigation-item--hover__EojER {
      color: #fff
  }
}

.mega-menu_header__navigation-item--active___NVIZ a {
  text-decoration: underline;
  text-underline-offset: .25rem
}

.mega-menu_header__navigation-item__D6nNT {
  position: relative;
  display: flex;
  height: 5rem;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  font-weight: 600!important;
  text-transform: uppercase
}

@media(prefers-reduced-motion:no-preference) {
  .mega-menu_header__navigation-item__D6nNT {
      transition-duration: .25s;
      transition-property: color
  }
}

@media(max-width: 63rem) {
  .mega-menu_header__navigation-item__D6nNT {
      width:100%;
      justify-content: flex-start
  }

  .mega-menu_header__navigation-item__D6nNT .mega-menu_header__navigation-link__zS3G7 {
      display: block;
      width: 80%;
      padding: 1.875rem 0;
      border-bottom: 1px solid rgba(0,0,0,.1);
      font-size: 1.5625rem;
      text-transform: none
  }
}

.mega-menu_megamenu__submenu-wrapper__ZS_nN {
  position: fixed;
  bottom: -28rem;
  left: 0;
  width: 100vw;
  height: 28rem;
  padding: 3.75rem 3.125rem 3.75rem 4vw;
  background: #fff;
  color: #000
}

@media(max-width: 63rem) {
  .mega-menu_megamenu__submenu-wrapper__ZS_nN {
      position:relative;
      bottom: 0;
      left: 0;
      height: auto;
      flex-direction: column;
      padding: 0
  }
}

@media(min-width: 80rem) {
  .mega-menu_megamenu__submenu-wrapper__ZS_nN {
      padding-left:6.25rem
  }
}

.mega-menu_header__navigation-items--desktop__y6o8L .mega-menu_header__navigation-item__D6nNT a {
  position: relative;
  display: inline-block;
  overflow: hidden
}

.mega-menu_header__navigation-items--desktop__y6o8L .mega-menu_header__navigation-item__D6nNT a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: .0625rem;
  background-color: #fff;
  content: ""
}

.mega-menu_header__navigation-items--desktop__y6o8L .mega-menu_header__navigation-item__D6nNT:hover:not(.mega-menu_header__navigation-item--active___NVIZ) a:after {
  left: 100%;
  width: 100%
}

@media(prefers-reduced-motion:no-preference) {
  .mega-menu_header__navigation-items--desktop__y6o8L .mega-menu_header__navigation-item__D6nNT:hover:not(.mega-menu_header__navigation-item--active___NVIZ) a:after {
      transition-duration: .6s;
      transition-property: width,left;
      transition-timing-function: cubic-bezier(.5,0,0,1);
      transition-delay: .2s
  }
}

.mega-menu_header__navigation-items--desktop__y6o8L .mega-menu_header__navigation-item__D6nNT.mega-menu_hover__9LtGu {
  color: #fff
}

.mega-menu_header__navigation-items--desktop__y6o8L .mega-menu_header__submenu-navlink-container__BN1bm {
  display: flex;
  align-items: center;
  padding: 0 1.875rem
}

.mega-menu_header__navigation-items--desktop__y6o8L .mega-menu_header__submenu-navlink-container__BN1bm .mega-menu_megamenu__submenu-wrapper__ZS_nN {
  display: none
}

.mega-menu_header__navigation-items--desktop__y6o8L .mega-menu_header__submenu-navlink-container__BN1bm .mega-menu_megamenu__submenu-wrapper--visible__9Ew4G {
  display: flex
}

@media(min-width: 63rem) {
  .mega-menu_header__navigation-items--desktop__y6o8L .mega-menu_header__submenu-navlink-container__BN1bm:hover .mega-menu_header__navigation-item__D6nNT {
      color:#fff!important
  }
}

@media(max-width: 63rem) {
  .mega-menu_header__navigation-items--desktop__y6o8L .mega-menu_header__submenu-navlink-container__BN1bm {
      width:14.1875rem;
      min-width: 14.1875rem
  }

  .mega-menu_header__navigation-items--desktop__y6o8L {
      display: none
  }
}

.mega-menu_header__navigation-cta-container__0IBNA {
  display: flex;
  padding-right: .25rem;
  padding-left: .25rem;
  gap: .9375rem
}

@media(max-width: 63rem) {
  .mega-menu_header__navigation-cta-container__0IBNA {
      display:none
  }
}

.mega-menu_megamenu__submenu-max-width__lZusr {
  display: flex;
  width: 100%;
  max-width: 87.5rem;
  justify-content: space-between;
  gap: 1.8vw
}

@media(max-width: 63rem) {
  .mega-menu_megamenu__submenu-max-width__lZusr {
      position:relative;
      bottom: 0;
      left: 0;
      height: auto;
      flex-direction: column;
      padding: 0;
      gap: 0
  }
}

@media(min-width: 80rem) {
  .mega-menu_megamenu__submenu-max-width__lZusr {
      gap:1.9375rem
  }
}

.mega-menu_megamenu__submenu-card-wrapper__DNRtr,.mega-menu_megamenu__submenu-link-wrapper__ZokP8 {
  display: flex;
  height: 100%
}

.mega-menu_megamenu__image-link-container-button__yMAYk {
  display: block;
  text-decoration: none
}

.mega-menu_megamenu__image-link-container__7LhSO img {
  width: 100%;
  height: auto
}

@media(max-width: 63rem) {
  .mega-menu_megamenu__image-link-container__7LhSO {
      max-height:16.5625rem
  }

  .mega-menu_megamenu__image-link-container__7LhSO img {
      width: 14.1875rem;
      height: 14.1875rem
  }
}

.mega-menu_megamenu__submenu-card-wrapper__DNRtr {
  font-size: 1.25rem;
  font-weight: 600
}

.mega-menu_megamenu__submenu-card-wrapper__DNRtr p {
  display: flex;
  align-items: center;
  font-family: var(--font-base-sans-serif);
  gap: .625rem;
  white-space: nowrap
}

@media(min-width: 63rem) {
  .mega-menu_megamenu__submenu-card-wrapper__DNRtr p {
      font-size:1.5vw
  }
}

@media(min-width: 80rem) {
  .mega-menu_megamenu__submenu-card-wrapper__DNRtr p {
      font-size:inherit
  }
}

.mega-menu_megamenu__submenu-card-wrapper__DNRtr img {
  min-width: 14.1875rem;
  max-width: 17.9375rem;
  border-radius: 10px;
  object-fit: contain
}

@media(max-width: 63rem) {
  .mega-menu_megamenu__submenu-card-wrapper__DNRtr {
      padding-right:3.125rem;
      padding-bottom: 1.875rem;
      margin-top: 1.875rem;
      gap: .9375rem;
      overflow-x: scroll
  }
}

@media(min-width: 63rem) {
  .mega-menu_megamenu__submenu-card-wrapper__DNRtr {
      justify-content:flex-end;
      gap: 1.8vw
  }
}

@media(min-width: 80rem) {
  .mega-menu_megamenu__submenu-card-wrapper__DNRtr {
      gap:1.9375rem
  }
}

.mega-menu_megamenu__submenu-link-button__m2UiC {
  flex: 0 0 auto;
  text-align: left;
  text-decoration: none;
  white-space: nowrap
}

.mega-menu_megamenu__submenu-link-button__m2UiC:hover {
  text-decoration: underline
}

@media(min-width: 63rem) {
  .mega-menu_megamenu__submenu-link-button__m2UiC {
      font-size:1.9vw
  }
}

@media(min-width: 80rem) {
  .mega-menu_megamenu__submenu-link-button__m2UiC {
      font-size:1.5rem
  }
}

.mega-menu_megamenu__submenu-link-wrapper__ZokP8 {
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: 400;
  gap: 1.875rem;
  text-align: left
}

@media(max-width: 63rem) {
  .mega-menu_megamenu__submenu-link-wrapper__ZokP8 {
      padding-bottom:1.875rem;
      font-size: 1.125rem
  }

  .mega-menu_megamenu__submenu-link-wrapper--border__jTeCL {
      padding-bottom: 1.875rem;
      border-bottom: 1px solid rgba(0,0,0,.1);
      font-size: 1.125rem
  }
}

.mega-menu_megamenu__membership-card-name__fxuou {
  margin-left: .625rem
}

.mega-menu_megamenu__membership-card-container__QVSjn {
  display: flex;
  width: 19.6875rem;
  height: 19.6875rem;
  justify-content: center;
  padding: 1.25rem;
  border-radius: .625rem;
  margin: 0 .625rem;
  background-color: #f3f5f9
}

.mega-menu_megamenu__membership-card-container__QVSjn span[class*=membership-card__price--sale] {
  font-size: 2.25rem
}

.mega-menu_megamenu__membership-card-container__QVSjn span[class*=membership-card__price--strikethrough] {
  font-size: 1.25rem
}

.mega-menu_megamenu__membership-card-container__QVSjn div {
  min-height: 0
}

@media(max-width: 63rem) {
  .mega-menu_megamenu__membership-card-container__QVSjn div[class*=membership-card--sale] {
      min-width:14.1875rem
  }
}

.mega-menu_header__navigation-items--mobile__O3Ggg {
  flex-direction: column;
  padding-top: .25rem
}

.mega-menu_header__navigation-items--mobile__O3Ggg section[class*=accordion__panel] {
  padding: 0
}

.mega-menu_header__navigation-items--mobile__O3Ggg p[class*=accordion__title] {
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -.0625rem;
  line-height: 100%
}

.mega-menu_header__navigation-items--mobile__O3Ggg h3 {
  display: flex;
  max-height: 80px;
  align-items: center;
  font-size: 1.5625rem
}

.mega-menu_header__navigation-items--mobile__O3Ggg h3>* {
  margin: 0;
  text-decoration: none;
  white-space: nowrap
}

.mega-menu_header__navigation-items--mobile__O3Ggg>div[class*=accordion--light]:not(:first-child) {
  border-top: 1px solid rgba(0,0,0,.1)
}

.mega-menu_header__navigation-link__zS3G7 {
  text-decoration: none
}

.mega-menu_header__mobile-navigation-button__tFkem.mega-menu_header__mobile-navigation-button__tFkem {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  height: 4.5rem;
  align-items: center;
  justify-content: center;
  padding: 0 1.6875rem;
  border-radius: 0;
  background-color: transparent
}

.mega-menu_header__mobile-navigation-button__tFkem.mega-menu_header__mobile-navigation-button__tFkem:active {
  background-color: transparent
}

.mega-menu_header__mobile-navigation-button__tFkem.mega-menu_header__mobile-navigation-button__tFkem:focus {
  outline-offset: -.125rem
}

@media(min-width: 63rem) {
  .mega-menu_header__mobile-navigation-button__tFkem.mega-menu_header__mobile-navigation-button__tFkem {
      display:none
  }
}

.mega-menu_header__mobile-navigation__lEvrK {
  position: fixed;
  z-index: 300;
  top: 4.5rem;
  left: 0;
  width: 100%;
  height: calc(100vh - 4.5rem);
  height: calc(100dvh - 4.5rem);
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
  pointer-events: all
}

@media(prefers-reduced-motion:no-preference) {
  .mega-menu_header__mobile-navigation__lEvrK {
      transition-duration: .25s;
      transition-property: opacity,transform;
      transition-timing-function: cubic-bezier(.4,0,.2,1)
  }
}

@media(min-width: 63rem) {
  .mega-menu_header__mobile-navigation__lEvrK {
      display:none;
      width: 100%
  }
}

.mega-menu_header__mobile-navigation--with-banner__OjOpJ {
  top: 7.625rem;
  height: calc(100vh - 7.625rem);
  height: calc(100dvh - 7.625rem)
}

.mega-menu_header__mobile-navigation--open__VW_PP {
  background-color: #fff;
  color: #000;
  opacity: 1;
  transform: translate(0)
}

.mega-menu_header__mobile-navigation--close__sZmh4 {
  opacity: 0;
  transform: translate(-100%)
}

.mega-menu_mega-menu-mobile-cta__w9ack {
  display: none;
  display: flex;
  max-height: 80px;
  align-items: center;
  padding: 1.875rem 0;
  font-size: 1.5625rem
}

@media(max-width: 63rem) {
  .mega-menu_mega-menu-mobile-cta__w9ack {
      display:block
  }
}

.mega-menu_mega-menu-mobile-cta__button__txeSd {
  padding: 0;
  margin: 0;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap
}

.banner_banner__YXMRo {
  height: 3.125rem;
  background-color: #00f19f!important
}

.banner_banner--transparent__5cSxe {
  background-color: transparent!important
}

.banner_banner__content__vinCs {
  display: flex;
  height: 100%;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  column-gap: .9375rem
}

.banner_banner__content--black__3_Yew {
  color: #000!important
}

.banner_banner__content--white__B3YQ7 {
  color: #fff!important
}

.banner_banner__countdown__WiRmv {
  width: 100%;
  text-align: center
}
